aui-alerts {
    position: fixed;
    z-index: @zindex-popover;
    top: @navbar-height + 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 30vw;
    max-width: 50vw;
    .alert {
        margin-bottom: 0;
    }
    .error-summary {
        display: table-cell;
        vertical-align: middle;
        margin-right: 0.5em;
        .errorCount {
            font-size: @font-size-base + 3px;
        }
    }
    .error-summary-detail {
        display: table-cell;
        padding-left: 0.75em;

        > div {
            display: table-cell;
            div {
                display: block;
                &.summaries {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 20vw;
                    padding-right: 10px;
                }
                &.instructions {
                    font-weight: 300;
                }
            }
        }
        a {
            text-decoration: underline;
            color: white;
        }
    }
    span.errorCount {
        display: inline-block;
        cursor: default;
    }
    .caret {
        display: inline-block;
        margin-left: 0.25em;
        transform: rotate(0);
        transition: transform @transition-duration-short;

        &.right {
          transform: rotate(-90deg);
        }
        &.down {
        }
    }
}
