<div ng-if="vm.auiAlerts.alerts.length > 1">
    <div class="alert {{vm.severestAlertType}}">
        <div class="error-summary" ng-click="vm.toggleCollapsed()">
            <span class="errorCount">{{vm.auiAlerts.alerts.length}}<span class="caret" ng-class="{down: !vm.isCollapsed}"></span></span>
        </div>
        <div class="error-summary-detail">
            <div>
                <div class="summaries">{{vm.messages.join(', ')}}</div>
                <div class="instructions">
                    <a href ng-click="vm.toggleCollapsed()">
                        <span ng-if="vm.isCollapsed">
                            See all {{vm.auiAlerts.alerts.length}} messages
                        </span>
                        <span ng-if="!vm.isCollapsed">
                            Hide messages
                        </span>
                    </a>
                    <a href ng-click="vm.toggleCollapsed()"
                        ng-if="!vm.isCollapsed">
                    </a>
                </div>
            </div>
            <div>
                <a href ng-click="vm.auiAlerts.alerts = []">Dismiss All</a>
            </div>
        </div>
    </div>
</div>
<div ng-if="!vm.isCollapsed || vm.auiAlerts.alerts.length === 1">
    <uib-alert ng-repeat="alert in vm.auiAlerts.alerts" type="{{ alert.type || 'info' }}" close="alert.close()">{{ alert.message }} <span class="badge" ng-if="alert.count > 1">{{alert.count}}</span></uib-alert>
</div>
